{% extends 'base.html' %}

{% block title %} Список книг {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 sorting-container">
        Сортировка:
      </div>
      {% if list_books %}
        {% for el in list_books %}
        <div class="col-md-2">
          <a href="{% url 'articles:detail' el.id %}" class="card-book">
            <img class="card-image" src="{{ el.avatar.url }}" alt="Изображение книги">
            <span class="card-title">{{ el.article_title }}</span>
          </a>
          <div class="card-author">{{ el.article_author }}</div>
          <div class="card-genre">Жанр</div>
        </div>
        {% endfor %}
      {% else %}
        <div class="col-12">
          <div class="h3">Список пуст</div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}