.body {
    background: linear-gradient(#4CA1AF, #2C3E50) fixed;
}

.header{
    margin-top: 50px;
}

.logo-container {
    width: 60px;
    font: 600 24px sans-serif;
    color: #ffffff;
}

.logo-container:hover {
    color: #ffffff;
    text-decoration: none;
}

.nav-link {
    color: #ffffff;
    font-size: 17px;
    padding: 4px;
}

.nav-item.active {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px 0;
}

.nav-link:hover {
    color: #ffffff;
}

.sorting-container {
    padding: 10px;
    margin: 10px 0 20px;
    background-color: rgba(255, 255, 255, .3);
}

.card-book {
    display: inline-block;
    margin-bottom: 10px;
}

.card-book:hover {
    text-decoration: none;
}

.card-image {
    max-width: 100%;
    height: 240px;
    display: inline-block;
    margin-bottom: 10px;
}

.card-title {
    font-size: 20px;
    line-height: 0;
    margin-top: 10px;
    color: #ffff;
    font-weight: 600;
}

.card-author {
    font-size: 15px;
}

.card-genre {
    font-size: 13px;
}
