{% extends 'base.html' %}

{% block title %} Книги {% endblock %}

{% block content %}
    {% if articles_list %}
        <h1 class="title"> Список Книг</h1>
        <div class="content-list">
        {% for a in articles_list %}
            <div name="book-{{ a.id }}" class="block-book">
                <div class="block-image"> </div>
                <div class="block-name"><a class="block-name-url" id="{{ a.id }}" href="{% url 'articles:detail' a.id %}">{{a}}</a></div>
                <div class="block-author"> </div>
                <div class="block-genre"> </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <style>
        .title {
            margin: auto;
            max-width: 1200px;
            width: 100%;
            margin-bottom: 50px;
        }
        .content-list  {
            display: flex;
            flex-direction: row;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            margin: auto;
        }
        .block-book {
            display: flex;
            flex-direction: column;
            max-width: 194px;
            max-height: 194px;
            min-width: 120px;
            width: 100%;
            padding: 10px;
            margin-right: 25px;
            border: outset;
            align-items: center;
        }
        .block-book:last-child {
            margin-right: 0;
        }
        .block-image {
            display: flex;
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            margin: 0;
        }
        .block-name-url {
            color: black;
            text-decoration: none;
            font-size: 18px;
        }
        .block-name-url:hover {
            color: darkblue;
            text-decoration: underline;
            font-size: 18px;
        }
    </style>
{% endblock %}